  
<link rel="stylesheet" type="text/css" href="app.component.css">
<div style="text-align:center">
  <h1>
   {{ title }}!
  </h1>
  
</div>

<div id="principal">

  <div>
    <h1>Autores</h1>
    <div class="autores" *ngFor='let autor of autores'>
        <p>{{ autor["firstName"] }}</p>
        <p>{{ autor["lastName"] }}</p>
    </div>
</div>

  <div class="libros">
    <h1>Libros</h1>
    <div *ngFor='let libro of libros'>
      <p>{{ libro["name"] }}</p>
      <p>{{ libro["isbn"] }}</p>
      <p>{{ libro["author"] }}</p>
    </div>
</div>
</div>

<div id="formularios">
  <div id="formularioAutores">
    <h1>Actualizar Autor</h1>
    <form action="">
      <select name="" id="">
        <option value="crear">Crear Autor</option>
        <option value="modificar">Modificar Autor</option>
      </select><br>
      <label for="">DNI</label>
      <input type="text" name="dni">
      <label for="">Nombre</label>
      <input type="text" name="nombre">
      <label for="">Apellido</label>
      <input type="text" name="apellido">
      <input type="button" id="enviar" value="Guardar">
    </form>
  </div>
  <div id="formularioLibros">
    <h1>Actualizar Libro</h1>
    <form action="">
      <select name="" id="">
        <option value="crear">Crear Libro</option>
        <option value="modificar">Modificar Libro</option>
      </select><br>
      <label for="">ISBN</label>
      <input type="text" name="isbn">
      <label for="">Nombre</label>
      <input type="text" name="nombre">
      <input type="button" id="enviar" value="Guardar">
    </form>
  </div>
</div>