  
<link rel="stylesheet" type="text/css" href="app.component.css">
<div style="text-align:center">
  <h1>
   {{ title }}!
  </h1>
  
</div>

<div id="principal">

  <div>
    <h1>Autores</h1>
    <div class="autores" *ngFor='let autor of autores'>
        <p>{{ autor["firstName"] }} {{ autor["lastName"] }}</p>
    </div>
</div>

  <div class="libros">
    <h1>Libros</h1>
    <div *ngFor='let libro of libros'>
      <p class="libros" id=libro.id (click)="verLibro(libro.id,libro.name,libro.author)">Título: {{ libro["name"] }}  ISBN: {{ libro["id"] }}</p>
    </div>
</div>
</div>

<div id="formularios">
  
  <div id="formularioAutores">
    <h1>Crear/Modificar Autor</h1>
    <form id="formularioAutoresJSON">
      <h3>Selecciona la acción que desees</h3>
      <select name="opcionAutor" id="" [(ngModel)]="opcionAutor">
        <option value="crear">Crear Autor</option>
        <option value="modificar">Modificar Autor</option>
      </select><br>
      <label for="">DNI</label>
      <input type="text" name="id" id="dni" [(ngModel)]="dniAutor">
      <label for="">Nombre</label>
      <input type="text" name="firstName" id="firstName" [(ngModel)]="nombreAutor">
      <label for="">Apellido</label>
      <input type="text" name="lastName" id="lastName" [(ngModel)]="apellidoAutor">
      <input (click)="usuarioExiste(dniAutor,0)" type="button" id="enviar" value="Guardar">
    </form>
  </div>

  <div id="formularioLibros">
    <h1>Crear/Modificar Libro</h1>

    <form id="formularioLibrosJSON">
      <h3>Selecciona la acción que desees</h3>
      <select name="opcionLibro" id="" [(ngModel)]="opcionLibro">
        <option value="crear">Crear Libro</option>
        <option value="modificar">Modificar Libro</option>
      </select><br>
      <label for="isbn">ISBN</label>
      <input type="text" id="idISBN" name="id" [(ngModel)]="isbnLibro">
      <label for="nombre">Nombre</label>
      <input type="text" id="name" name="name" [(ngModel)]="nombreLibro">
       <label for="author">Autor</label>
       <input type="text" id="author" name="author" [(ngModel)]="autorLibro">
      <input (click)="libroExiste()" type="button" id="enviar" value="Guardar">
      
    </form>
  </div>

</div>