/* You can add global styles to this file, and also import other style files */
#principal{
    display: flex;
    margin-left: 40%;
    margin-top: 2%;
}

.autores,.libros{
text-align: center;

}

.libros{
    margin-left: 20%;
}

.autores,.librillos{
    display: grid;
    grid-template-columns: auto;
}
input,select{
    display: block;
}

tr{
margin-bottom: 1em;
}
form{

    border: 2px solid black;
    border-radius: 6%;
    padding: 5%;
}

#formularios{

    display: flex;
}

#formularioLibros{

    margin-left: 55%;
}

#formularioAutores{

    margin-left: 12%;
}

input{
    font-family: "Times New Roman";
}
h3{
    padding: 0;
    margin: 0;
}

h1{
    font-family: "Garamond";
}
.boton{
    margin-top: 5%;
    margin-left: 40%;
}