/* You can add global styles to this file, and also import other style files */
#principal{
    display: flex;
    margin-left: 40%;
    margin-top: 2%;
}

.autores,.libros{
text-align: center;

}

.libros{
    margin-left: 20%;
}

input,select{
    display: block;
}

#formularios{

    display: flex;
}

#formularioLibros{

    margin-left: 55%;
}

#formularioAutores{

    margin-left: 12%;
}